:root {
    --cw: calc(90vw / 3);
    --ch: calc(var(--cw)*1.5); 
    --timer: min(3.5vw, 3.5vh);
}
@media only screen and (min-width:800px) {
    :root {
        --cw: calc(85vw / 5);
    }
}
@media only screen and (min-width:1100px) {
    :root {
        --cw: min(calc(85vw / 7), (100vh / 5.2));
    }
}

/* CONTROL PANEL */
.board-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: var(--timer);
    z-index: 5;
    width: 100%; 
}
.timer {
    font-family: 'digital-7_monomono';
    border: inset black 0.1em;
    background-color: #e3e3e3;
    color: #404040;
    font-size: var(--timer);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.25em 0;
    user-select: none;
}
.timer.victory div {
    animation: blinkingTimer 1s steps(5, start) infinite;
}
@keyframes blinkingTimer {
    to {visibility: hidden;}
}
.return-button {
    z-index: 10;
    font-size: min(3vw, 3vh);
    font-variant: small-caps;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
}
.return-button img {
    height: 0.75em;
    margin-left: 0.25em;
}
.return-button h3 {
    font-weight: bold;
}
.return-button:hover {
    cursor: pointer;
    opacity: 0.9;
}
.return-button:active {
    opacity: 0.9;
}

/* GAME */
.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto 0.5em;
    max-width: min(99vw, 175vh);
    flex: 1;
}
.card {
    position: relative;
    width: var(--cw);
    object-fit: cover;
    height: var(--ch);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out; 
    margin: 0.2em;
    user-select: none;
}
.card > img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card > .front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    z-index: 0;
}
.card > .back {
    z-index: 1;
    transform: rotateY(0deg);
}
.card > span {
    z-index: 2;
    position: absolute;
    font-size: 1.3em;
    bottom: 0.5em; right: 0.5em;
    opacity: 0.6;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card.turned {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}
.card.turned:hover {
    cursor: help;
}
.clickable:hover {
    cursor: pointer;
}
.unclickable:hover {
    cursor: not-allowed !important;
}
.found {
    opacity: 0.6;
    animation: fade 0.8s linear;
}
.found:hover {
    cursor: help;
}
@keyframes fade {
    0% {opacity: 1}
    50% {opacity: 1}
    100% {opacity: 0.6}
}
.gone {
    visibility: hidden;
}

/* TUTORIAL */
.tutorial-container {
    z-index: 20;
    font-size: min(3vw, 3vh);
}
.tutorial-button {
    opacity: 0.5;
    width: 1.1em;
    height: 1.1em;
    border: solid 0.125em black;
    border-radius: 0.75em;
    text-align: center;
    font-weight: bold;
}
.tutorial-button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.tutorial-button:active {
    opacity: 0.8;
}
.tutorial-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.tutorial {
    background-color: white;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0.25em 0.25em 0.25em rgba(152, 152, 152, 0.8);
    padding: 1em;
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tutorial h3 {
    text-align: center;
    font-size: 1.1em;
    margin: 1em auto 0.5em;
    font-variant: small-caps;
}
.tutorial ul {
    font-size: 0.95em;
    opacity: 0.9;
    margin: 0.5em 1em;
}
.continue-tutorial {
    display: flex;
    align-items: center;
}
.continue-tutorial span {
    font-size: 0.9em;
    margin: 0.2em 0.5em 0.5em;
    opacity: 0.75;
    animation: blinkingContinue 1.5s steps(5, start) infinite;
}
@keyframes blinkingContinue {
    to {visibility: hidden;}
}